
.icon-spin3:before { content: '\e800'; } /* '' */
.icon-spin6:before { content: '\e801'; } /* '' */
.icon-spin4:before { content: '\e802'; } /* '' */
.icon-emo-cry:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-reply-all:before { content: '\e80a'; } /* '' */
.icon-reply:before { content: '\e80b'; } /* '' */
.icon-forward:before { content: '\e80c'; } /* '' */
.icon-download:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-attention:before { content: '\e811'; } /* '' */
.icon-attention-circled:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-wrench:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-stop:before { content: '\e818'; } /* '' */
.icon-pause:before { content: '\e819'; } /* '' */
.icon-off:before { content: '\e81a'; } /* '' */
.icon-database:before { content: '\e81b'; } /* '' */
.icon-cubes:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-user-add:before { content: '\e81f'; } /* '' */
.icon-pencil:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-floppy:before { content: '\e823'; } /* '' */
.icon-dropbox:before { content: '\e824'; } /* '' */
.icon-arrows-cw:before { content: '\e825'; } /* '' */
.icon-docs:before { content: '\e826'; } /* '' */
.icon-camera-alt:before { content: '\e827'; } /* '' */