html {
	height:100%;
	margin:0;
	padding:0;
}
body {
	height: 88%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 12%;
}
.head-div {
	height: 100px;
	padding: 10px;
	z-index: 10;
	background: white;
	position: absolute;
	top: -16%;
	width: 100%;
}
.body-div {
	height:100%;
	width:100%;
	position:absolute;
}
.body-table {
	height:100%;
	width:100%;
}